{% extends 'header/header.html'%}
{% block content %}

<div id = grid-wrapper>
  <div class="grid-container">


    <div class="char_name">char_name</div>

    <div class="strength">strength</div>
    <div class="dexterity">dexterity</div>
    <div class="constitution">constitution</div>
    <div class="intelligence">intelligence</div>
    <div class="wisdom">wisdom</div>
    <div class="charisma">charisma</div>

    <div class="insp_prof">insp_prof</div>
    <div class="saving">saving</div>
    <div class="skills">skills</div>

    <div class="ac_init_sp">ac_init_sp</div>
    <div class="hitpoint">hitpoint</div>
    <div class="dice_death">dice_death</div>
    <div class="atk_spell">atk_spell</div>


  </div>
</div>
{% endblock content%}