{% extends 'header/header.html'%}
{% block content %}

{% load staticfiles %}
<script src="{% static 'javascript/spells.js' %}"></script>

<form id = "Spells_metadata_form" method="post">
    {% csrf_token %}
<div class ="row" id = "metadata">
    <div class = "col metadata_col my-auto">
        <div class = "col">{{Metadataform.scability}}</div>
        <div class = "col metadata_txt">SPELLCASTING ABILITY</div>
    </div>
    <div class = "col metadata_col my-auto">
        <div class = "col">{{Metadataform.ssdc}}</div>
        <div class = "col metadata_txt">SPELL SAVE DC</div>
        </div>
    <div class = "col metadata_col my-auto">
        <div class = "col">{{Metadataform.sabonus}}</div>
        <div class = "col metadata_txt">SPELL ATK BONUS</div>
    </div>
</div>

<div id = "spells_slots">
    <div class = "row">
        <div class = "col">
            <div class = "row spells_slots_info">
                <div class = "spells_slots_info_col_1">SPELL LVL</div>
                <div class = "spells_slots_info_col_2">SLOTS_TOT</div>
                <div class = "spells_slots_info_col_3">SLOTS EXP</div>
            </div>
        </div>
        <div class = "col">
            <div class = "row spells_slots_info">
                <div class = "spells_slots_info_col_1">SPELL LVL</div>
                <div class = "spells_slots_info_col_2">SLOTS_TOT</div>
                <div class = "spells_slots_info_col_3">SLOTS EXP</div>
            </div>
        </div>
        <div class = "col">
            <div class = "row spells_slots_info">
                <div class = "spells_slots_info_col_1">SPELL LVL</div>
                <div class = "spells_slots_info_col_2">SLOTS_TOT</div>
                <div class = "spells_slots_info_col_3">SLOTS EXP</div>
            </div>
        </div>
    </div>
    <div class = "row spell_slots_row_val">
        <div class = "col">
            <div class = "row">
                <div class = " spells_slots_lvl my-auto"> 1</div>
                <div class = " spells_slots_tot"> {{Metadataform.lvl1_total}} </div>
                <div class = " spells_slots_rem"> {{Metadataform.lvl1_left}}</div>
            </div>
        </div>
        <div class = "col">
            <div class = "row">
                <div class = " spells_slots_lvl my-auto"> 4</div>
                <div class = " spells_slots_tot"> {{Metadataform.lvl4_total}}</div>
                <div class = " spells_slots_rem"> {{Metadataform.lvl4_left}}</div>
            </div>
        </div>
        <div class = "col">
            <div class = "row">
                <div class = " spells_slots_lvl my-auto "> 7</div>
                <div class = " spells_slots_tot "> {{Metadataform.lvl7_total}}</div>
                <div class = " spells_slots_rem "> {{Metadataform.lvl7_left}}</div>
            </div>
        </div>
    </div>
    <div class = "row spell_slots_row_val">
        <div class = "col">
            <div class = "row">
                <div class = " spells_slots_lvl my-auto "> 2</div>
                <div class = " spells_slots_tot "> {{Metadataform.lvl2_total}}</div>
                <div class = " spells_slots_rem " > {{Metadataform.lvl2_left}}</div>
            </div>
        </div>
        <div class = "col">
            <div class = "row">
                <div class = " spells_slots_lvl my-auto "> 5</div>
                <div class = " spells_slots_tot "> {{Metadataform.lvl5_total}}</div>
                <div class = " spells_slots_rem "> {{Metadataform.lvl5_left}}</div>
            </div>
        </div>
        <div class = "col">
            <div class = "row">
                <div class = " spells_slots_lvl my-auto "> 8</div>
                <div class = " spells_slots_tot "> {{Metadataform.lvl8_total}}</div>
                <div class = " spells_slots_rem "> {{Metadataform.lvl8_left}}</div>
            </div>
        </div>
    </div>
    <div class = "row spell_slots_row_val">
        <div class = "col">
            <div class = "row">
                <div class = " spells_slots_lvl my-auto "> 3</div>
                <div class = " spells_slots_tot "> {{Metadataform.lvl3_total}}</div>
                <div class = " spells_slots_rem "> {{Metadataform.lvl3_left}}</div>
            </div>
        </div>
        <div class = "col">
            <div class = "row">
                <div class = " spells_slots_lvl my-auto "> 6</div>
                <div class = " spells_slots_tot "> {{Metadataform.lvl6_total}}</div>
                <div class = " spells_slots_rem "> {{Metadataform.lvl6_left}}</div>
            </div>
        </div>
        <div class = "col">
            <div class = "row">
                <div class = " spells_slots_lvl my-auto "> 9</div>
                <div class = " spells_slots_tot "> {{Metadataform.lvl9_total}}</div>
                <div class = " spells_slots_rem"> {{Metadataform.lvl9_left}}</div>
            </div>
        </div>
    </div>
</div>
    <input type="submit" name = "btnmetadataform" value="Update" id = "btnmetadataform">

</form>


<form id = "add_spell_button" method="post">
    {% csrf_token %}
<div>{{Spells5Eform.name}}</div>
    <input type="submit" name = "btnSpells5Eform" value="Add spell" id = btnspellform>
</form>


<div class = "my_spells">
    <div class = "row lvl lvl_0">
        <div class = "lvl_val lvl_val_0"><div class = "lvl_val_val">0</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl0">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if 'Cantrip' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

<div class = "my_spells">
    <div class = "row lvl">
        <div class = "lvl_val"><div class = "lvl_val_val">1</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl1">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if '1' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class = "my_spells">
    <div class = "row lvl">
        <div class = "lvl_val"><div class = "lvl_val_val">2</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl2">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if '2' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class = "my_spells">
    <div class = "row lvl">
        <div class = "lvl_val"><div class = "lvl_val_val">3</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl3">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if '3' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class = "my_spells">
    <div class = "row lvl">
        <div class = "lvl_val"><div class = "lvl_val_val">4</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl4">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if '4' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class = "my_spells">
    <div class = "row lvl">
        <div class = "lvl_val"><div class = "lvl_val_val">5</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl5">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if '5' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class = "my_spells">
    <div class = "row lvl">
        <div class = "lvl_val"><div class = "lvl_val_val">6</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl6">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if '6' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class = "my_spells">
    <div class = "row lvl">
        <div class = "lvl_val"><div class = "lvl_val_val">7</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl7">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if '7' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class = "my_spells">
    <div class = "row lvl">
        <div class = "lvl_val"><div class = "lvl_val_val">8</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl8">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if '8' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class = "my_spells">
    <div class = "row lvl">
        <div class = "lvl_val"><div class = "lvl_val_val">9</div></div>
        <div></div>
    </div>
    <div id = "my_spells_lvl9">
        {% for my_spell in my_spells_in_Spells5E %}
            {% if '9' in my_spell.level %}
                <div class = "my_spells_spell">
                    <div class = "my_spells_spell_del my_spells_spell_row"> <i class="fa fa-minus-circle"></i></div>
                    <div class = "my_spells_spell_name my_spells_spell_row">{{my_spell.name}}</div>
                    <div class = "my_spells_spell_info">
                        <div class = "my_spells_spell_info_el_desc"><span class = "my_spells_spell_info_el "> Desc: </span><span class = "my_spells_spell_info_val">{{my_spell.desc}}</span></div>
                        <span class = "my_spells_spell_info_el"> Higher level: </span><span class = "my_spells_spell_info_val">{{my_spell.higher_level}}</span>
                        <span class = "my_spells_spell_info_el"> Range: </span><span class = "my_spells_spell_info_val">{{my_spell.range}}</span>
                        <span class = "my_spells_spell_info_el"> Components: </span><span class = "my_spells_spell_info_val">{{my_spell.components}}</span>
                        <span class = "my_spells_spell_info_el"> Material: </span><span class = "my_spells_spell_info_val">{{my_spell.material}}</span>
                        <span class = "my_spells_spell_info_el"> Ritual: </span><span class = "my_spells_spell_info_val">{{my_spell.ritual}}</span>
                        <span class = "my_spells_spell_info_el"> Duration: </span><span class = "my_spells_spell_info_val">{{my_spell.duration}}</span>
                        <span class = "my_spells_spell_info_el"> Concentration: </span><span class = "my_spells_spell_info_val">{{my_spell.concentration}}</span>
                        <span class = "my_spells_spell_info_el"> Casting time: </span><span class = "my_spells_spell_info_val">{{my_spell.casting_time}}</span>
                        <span class = "my_spells_spell_info_el"> School: </span><span class = "my_spells_spell_info_val">{{my_spell.school}}</span>
                        <span class = "my_spells_spell_info_el"> Char class: </span><span class = "my_spells_spell_info_val">{{my_spell.char_class}}</span>
                        <span class = "my_spells_spell_info_el"> Archetype: </span><span class = "my_spells_spell_info_val">{{my_spell.archetype}}</span>
                        <span class = "my_spells_spell_info_el"> Domains: </span><span class = "my_spells_spell_info_val">{{my_spell.domains}}</span>
                        <span class = "my_spells_spell_info_el"> Patrons: </span><span class = "my_spells_spell_info_val">{{my_spell.patrons}}</span>
                        <span class = "my_spells_spell_info_el"> Oaths: </span><span class = "my_spells_spell_info_val">{{my_spell.oaths}}</span>
                        <span class = "my_spells_spell_info_el"> Circles: </span><span class = "my_spells_spell_info_val">{{my_spell.circles}}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<br><br><br>


{% endblock content%}