{% extends 'header/header.html'%}
{% block content %}

<!-- Success message upon successfull registration -->
{% if messages %}
    {% for message in messages %}
        <div class = 'alert alert-{{message.tags}}'>
            {{message}}
        </div>
    {% endfor %}
{% endif %}

<div>
    <form method = 'POST'>
    {%csrf_token%}
<fieldset  class = 'form-group'>
    <legend class = 'border-bottom mb-4'>
        {{ form.as_p }}
    </legend>
</fieldset>
        <div>
            <button id ='login_button' class = 'btn btn-outline-info' type = 'submit'>  Login</button>
        </div>
    </form>

</div>
<br><br>
<div class = link_registration>
    Don't have an account yet?
    <a href ='/user/registration'> <button class = 'btn btn-outline-info text-success border-success' type = 'submit' >  Register</button> </a>
</div>



{% endblock content%}