#footer {
background-color:#85144b;
height:25px;
}

/* https://www.w3schools.com/css/css_grid.asp*/
/*all blocks must form a rectangle/square */
.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: right; }
.item4 { grid-area: middle; }
.item5 { grid-area: other; }

.strength { grid-area: strength; }
.dexterity { grid-area: dexterity; }
.constitution { grid-area: constitution; }
.intelligence { grid-area: intelligence; }
.wisdom { grid-area: wisdom; }
.charisma { grid-area: charisma; }

.insp { grid-area: insp; }
.saving { grid-area: saving; }
.hitpoint { grid-area: hitpoint; }




.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'strength   insp  insp  right  right  right'
    'strength   insp  insp  right  right  right'
    'dexterity   insp  insp  right  right  right'
    'dexterity   saving  saving  hitpoint  hitpoint  hitpoint'
    'constitution   saving  saving  hitpoint  hitpoint  hitpoint'
    'constitution   saving  saving  hitpoint  hitpoint  hitpoint'
    'intelligence   other  other  other  other  other'
    'intelligence   other  other  other  other  other'
    'wisdom   other  other  other  other  other'
    'wisdom   other  other  other  other  other'
    'charisma   other  other  other  other  other'
    'charisma   other  other  other  other  other';
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 10px;
}